[submodule "private"]
	path = private
	url = git@repos.nci.org.au:u/saw562/private
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel
